/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: rgb(13, 17, 23);

$mainColor: white; //#9198a1;
$headingColor: white; // rgb(116, 156, 187); // rgb(68, 147, 248);

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: rgba( $linkColor, 0.75 );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal img.r-frame {
  border-radius: 12px;
  border-color: white;
  border-width: 1px
}
.reveal video {
  border-radius: 12px;
}
.reveal img.r-frame.no-border {
  border-width: 0;
  box-shadow: none;
}

strong {
  color: white;
}

.underlayed {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 6px;
  background: #894ceb;
}

.footer {
  position: fixed;
  top: -102px;
  right: 0;
  width: 306px;
  .logo {
    position: absolute;
    .svg-text {
      fill: white;
    }
  }
}